/*---------------------------------reset---------------------------------------*/
* {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
}

body {
  color: rgba(255, 255, 255, 0.3);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*---------------------------------notification section------------------------*/
.notify-container {
  width: 300px;
  height: 40px;
  display: none;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.3);

  /*-----notification container positioning-----*/
  position: absolute;
  top: 80px;
  right: -300px;
  z-index: 2;
}

.notify-heading {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

.cross-btn {
  width: 25px;
  height: 25px;
  outline: none;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
}

.out-animation {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transform: translateX(300px);
}

.in-animation {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transform: translateX(-305px);
}


/*---------------------------------navbar--------------------------------------*/
.navbar-head {
  height: 60px;
  text-align: center;
  border-radius: 2px;
}

/*----shared class by navbar and footer-----*/
.foot-nav-heading {
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 15px;
}

/*---------------------------------------main section--------------------------*/
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.io-box-same-prop {
  height: 400px;
  width: 500px;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.input-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.output-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.form-group {
  margin-top: 10px;
}

label {
  font-weight: bold;
}

.form-control {
  font-weight: bold;
}

/*----------------------------------footer area----------------------------------*/
.footer-sec {
  height: 60px;
  border-radius: 2px;
  text-align: center;
}

/*-------------------------All Screen Friendly Code--------------------------*/
/*---------------------------------------------------------------------------*/

/*-------------------------Shared Media query---------------*/
@media screen and (max-width: 1000px) {
  .main-container {
    flex-direction: column;
  }

  .io-box-same-prop {
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.2);
  }
}

/*-----------screen-width: 320 to 400px------------*/
@media screen and (min-width: 320px) and (max-width: 400px) {
  .io-box-same-prop {
    height: 300px;
    width: 300px;
    margin: 15px 0 15px 0;
    padding: 15px;
  }
}

/*-----------screen-width: 400 to 600px------------*/
@media screen and (min-width: 400px) and (max-width: 600px) {
  .io-box-same-prop {
    height: 400px;
    width: 380px;
    margin: 5px 0 5px 0;
    padding: 15px;
  }
}

/*-----------screen-width: 600 to 800px------------*/
@media screen and (min-width: 600px) and (max-width: 800px) {
  .io-box-same-prop {
    height: 450px;
    width: 550px;
    margin: 20px 0 20px 0;
    padding: 10px;
  }
}

/*-----------screen-width: 800 to 1000px------------*/
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .io-box-same-prop {
    height: 500px;
    width: 700px;
    margin: 20px 0 20px 0;
    padding: 10px;
  }
}

/*-----------screen-width: 1000 to 1100px------------*/
@media screen and (min-width: 1000px) and (max-width: 1100px) {
  .io-box-same-prop {
    height: 350px;
    width: 450px;
  }
}
